$dark-grey: #22292f;
$secondary-grey: #8795a1;
$grey: #3d4852;

body {
  background: #ffffff;
  color: $grey;
}

// HEADER

header {
  margin: 70px auto 0 auto;
  max-width: 1000px;
  display: flex;
  align-items: center;
  img {
    border-radius: 50%;
    display: inline-block;
  }
  nav {
    max-width: 800px;
    width: 600px;
    // height: 200px;
    padding-left: 70px;
    display: inline-block;
    h1 {
      font-size: 2.5rem;
      a {
        color: $dark-grey;
        text-decoration: none;
        font-weight: 700;
      }
    }
    ul {
      display: flex;
      justify-content: space-between;
      margin-top: 30px;
      color: $secondary-grey;
      a {
        letter-spacing: 1.3px;
        font-size: 0.9rem;
        font-weight: 400;
        &:hover {
          color: $dark-grey;
        }
      }
    }
  }
}

// ABOUT

.section-title {
  font-size: 1.7rem;
  color: $dark-grey;
  margin-bottom: 30px;
}

.about-wrapper {
  margin: 100px auto 0 auto;
  max-width: 600px;

  p {
    line-height: 1.5;
    // margin-top: 30px;
    color: $grey;
    font-size: 1.2rem;
    margin-bottom: 20px;

    a {
      text-decoration: underline;
      color: $dark-grey;
      font-weight: 700;
    }
  }
}

// TOOLBOX

.tool-wrapper {
  margin: 100px auto 0 auto;
  max-width: 600px;

  ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    // margin-top: 30px;
    max-width: 550px;

    li {
      background-color: #fafafa;
      padding: 10px 15px;
      font-size: 1.2rem;
      margin-top: 10px;
      border-radius: 2px;
    }
  }
}

// PORTFOLIO

.portfolio-wrapper {
  margin: 100px auto 0 auto;
  max-width: 800px;
}

.project-flex {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;

  div {
    max-width: 400px;
  }

  h3 {
    padding-top: 20px;
    font-size: 1.3rem;
    letter-spacing: 0.9px;
  }

  hr {
    width: 50px;
    margin: 3px 0 0 0;
    height: 2px;
    background-color: $grey;
    border: 1px solid $grey;
    border-radius: 2px;
  }

  p {
    margin: 25px 0;
    line-height: 1.5;
  }

  a {
    border: 1px solid $grey;
    color: white;
    background-color: $grey;
    letter-spacing: 1.5px;
    border-radius: 3px;
    padding: 15px 25px;
    font-weight: bold;

    &:nth-of-type(even) {
      margin-left: 40px;
    }

    &:hover {
      color: $grey;
      background-color: #ffffff;
    }
  }
}

.project-info {
  margin-bottom: 50px;
}

.project-image {
  margin-left: 100px;
  width: 300px;
}
