/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: Montserrat, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
footer,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  cursor: pointer;
  text-decoration: none;
  color: #8795a1;
}

body {
  margin: 0 50px;
}

@media (max-width: 400px) {
  body {
    margin: 0 25px;
  }
}
